<div class="booyah-box">
  <div class="row">
   
  <div class="col-8">
    <h1><%= @colleges.team %></h1>
    <h2><%= @colleges.mascot %></h2>
    <h3><%= @colleges.city %></h3>
  </div>
</div>
<div class="clear"></div>
</div>